.DS_Store
__pycache__
.vscode
#/code/01_WholeBrainParcellation/01_DefinePowerAtlasROIs/IndividualROIs
/code/_FyzeenTest
.ipynb_checkpoints
/data/local
/code/01_WholeBrainParcellation/01_DefineROIs/marsbar-0.43